.btn-group-full-width {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
.px-4{
    width: 100%;
    margin: auto;
}

.px-lg-5{
    width: 100%;
    margin: auto;
} 

.my-5{
    width: 100%;
    margin: auto;
}

