body {
    margin: 0px;
    background-color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
    padding: 10px 20px;
}

.pagina-nav {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    height: 100%;
    background: #d546fd;
    padding: 0px 20px;
    border: 1px solid black;
    position: relative;
}

.page-nav h1 {
    margin: 20px;
}

.button-checkout {
    background-color: white;
    color: black;
    border: 2px solid orange;
    transition-duration: 0.4s;
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.button-checkout:hover {
    background-color: red;
    color: gray;
}

.page-content-coctel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.page-content-bebida {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contenedor-productos {
    margin: 15px;
    padding: 2px 16px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    background-color: purple;
}

.contenedor-productos:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
}

.contenedor-productos img {
    width: 300px;
}

.contenedor-productos h1 {
    margin-bottom: 10px;
    margin-left: 15px;
}

.button-add {
    background-color: rosybrown;
    color: black;
    border: 2px solid green;
    transition-duration: 00.4s;
    position: absolute;
    right: 15px;
    bottom: 10px;
}

.button-add:hover {
    background-color: yellow;
    color: tomato;
}